/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/
/* Section*/
/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/

section {
    width: var(--primary-width);
    display: flex;
    background-color: rgb(249 249 249);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    /* border: 3px solid var(--primary); */
    box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.1), 2px 5px rgba(0, 0, 0, 0.1), -2px -3px 5px rgba(0, 0, 0, 0.1), 2px 5px rgba(0, 0, 0, 0.1);
}

section h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primary);
}

section h1::after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--primary);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    perspective: 400px;

}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 25rem;
    list-style: none;
    transition: 0.3s ease;
}

.skill:hover {
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 12deg);
}

.skill i,
.skill h3 {
    font-size: 3rem;
    color: var(--primary);
}

/* info*/
.info {
    display: flex;
    align-items: center;
    gap: 10rem;

}

/* actualite */
.actualite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    list-style: none;
}

.actualite a {
    text-decoration: none;
    color: var(--primary);
}

.splitLine {
    position: relative;
    width: 120px;
    height: 50px;
    border-top: 4px solid var(--primary);
    border-bottom: 4px solid var(--primary);
    border-radius: 5px;
}

.splitLine::before,
.splitLine::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 180px;
    background-color: var(--primary);
    left: 55%;
    transform: translateX(-100%);
}

.splitLine::before {
    top: -180px;
}

.splitLine::after {
    bottom: -180px;
}




/* form */
form {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--light-text);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input[type="text"],
form input[type="password"] {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    border-color: #00569c;
    box-shadow: 0 0 8px rgba(0, 86, 156, 0.2);
    outline: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkbox-container input[type="checkbox"] {
    accent-color: #00569c;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

form button[type="submit"] {
    padding: 0.8rem;
    background: linear-gradient(135deg, #00569c, #0077c0);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

form button[type="submit"]:hover {
    background: linear-gradient(135deg, #004080, #00569c);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

form .links {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

form .links a {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s;
}

form .links a:hover {
    color: #0077c0;
}

/* carousel */
.swiper {
    width: 100%;
    height: 800px;
}

.swiper-slide img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    form {
        padding: 1.5rem;
        gap: 0.8rem;
    }

    form input[type="text"],
    form input[type="password"],
    form button[type="submit"] {
        font-size: 0.9rem;
        padding: 0.7rem;
    }

    .checkbox-container label {
        font-size: 0.85rem;
    }


}